*{
    margin:0;
    padding:0;
}

/* custom CSS Variables */
:root{
    --bg-color: rgb(2, 1, 66);
    --nav-bar-color: rgb(239, 208, 175);
    --bg-black-200:white;
    --bg-black-190: rgb(236, 233, 233);
    --bg-black-150:#000000;
    --bg-black-100:#dddddd;
    --bg-black-50:#eff0f4;
    --text-black-200:#000000;
    --text-black-150:#555555;
    --text-black-100:#666666;
    --text-black-50:#8a8787;
    --outer-shadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
    --outer-shadow-0: 0 0 0 #d0d0d0, 0 0 0 #f8f8f8;
    --inner-shadow: inset 3px 3px 3px #d0d0d0, inset -3px -3px 3px #f8f8f8;
    --inner-shadow-0: inset 0 0 0 #d0d0d0, inset 0 0 0 #f8f8f8;
    --bg-image: linear-gradient(to right,rgb(198, 165, 135) 20% 50%, white 20% 50%);
    --text-image: linear-gradient(to left, rgb(14, 45, 75) 0%, rgb(28, 90, 151) 100%);
}
body{
    overflow-x: hidden;
    background-image: var(--bg-image);
}
a{
    text-decoration: none;
}
/* body.dark{
    --bg-color: yellowgreen;
    --bg-black-200:black;
    --bg-black-190: rgb(12, 12, 12);
    --bg-black-150:#ffffff;
    --bg-black-100:#353535;
    --bg-black-50:#2b2c2f;
    --text-black-200:#ffffff;
    --text-black-150:#f0e8e8;
    --text-black-100:#bbbbbb;
    --text-black-50:#9e9a9a;
    --outer-shadow: 3px 3px 3px #222327, -3px -3px 3px #363636;
    --inner-shadow: inset 3px 3px 3px #222327, inset -3px -3px 3px #363636;
    --outer-shadow-0: inset 0 0 0 #070707, inset 0 0 0 #363636;
    --bg-image: linear-gradient(to left, #292828 0%, #3864f7 100%);
} */

li{
    list-style-type: none;
}

/* Start navbar section */

.navMenu{
    background-color: var(--nav-bar-color);
    /* background-color: ; */
    /* color: var(--bg-black-100); */
    display: flex;
    font-size: 18px;
    align-items: center;
    position: static;
    padding: 1%;
    margin: 2% 2% 0.5% 2%;
    z-index: 1;
}

/* to add a gradient overlay to text with CSS */

.navMenu>h1, h1{
    background-image:var(--text-image);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: #2b2c2f;
    font-size: 42px;
    margin: auto auto auto 4%;
    cursor: pointer;
}
.navMenu>ul{
    display: flex;
    margin: auto auto auto 55%;
    width: 100%;
    z-index: 2;
    color: rgb(245, 245, 242);
}
.navMenu>ul>li{
    margin: auto 2%;
    background-color: transparent;
    transition: all ease 0.5s;
    padding: 5px;
    border: 1px solid transparent;
    cursor: pointer;
    z-index: 3;
}
.navMenu>ul>li:hover{
    padding: 5px;
    border: 1px solid white;
    border-radius: 2px;
    background-color: rgb(250, 250, 250);
    color: rgb(5, 5, 48);
    transition: all ease 0.3s;
    z-index: 6;
}
.navMenu>ul>li>ul{
    padding: 0.5%;
    display: none;
    position: absolute;
    top: 11%;
    right: 20%;
    color: var(--text-black-50);
    background-color: var(--nav-bar-color);
    z-index: -1;
}
.navMenu>ul>li>ul>li{
    margin: 5% auto;
    transition: all ease 0.3s;
    padding: 5px;
    border: 1px solid transparent;
}
.navMenu>ul>li>ul>li:hover{
    padding: 5px;
    border: 1px solid white;
    border-radius: 2px;
    background-color: rgb(250, 250, 250);
    color: rgb(5, 5, 48);
    transition: all ease 0.3s;
}
.menuIcon{
    display: none;
    position: absolute;
    padding: 4px;
    width: 2%;
    height: auto;
    border: 1px dotted whitesmoke;
    border-radius: 5px;
    left: 80vw;
}
.bar{
    background-color: #dddddd8d;
    width: 100%;
    height: 3px;
    margin: 15% 0;
}
.thermo{
    background-image: linear-gradient(to left, rgb(218, 183, 149) 20% 50%, rgb(243, 239, 236) 20% 100%);
    padding: 3% 2%;text-align: center;
    color: #f9e907;
    /* color: rgb(238, 109, 35); */
    font-size: 48px;
    margin: 1% 2% 1% 2%;
}
.head>h1{
    text-align: center;
    font-size: 58px;
    text-transform: capitalize;
    /* margin: 2% 2% 0.5% 2%; */
}
.thermoChecker{
    display: grid;
    place-content: center;
    background-image: linear-gradient(to left, rgb(218, 183, 149) 20% 50%, rgb(243, 239, 236) 20% 100%);
    font-size: 48px;
    margin: 1% 18% 1% 18%;
    padding: 3% 1%;
}

input[type=number], select{
    font-size: 23px;
    padding: 4% 3%;
    width: 30%;
    margin: 2% 0%;
    color: #9b9898;
    background-color: rgba(227, 222, 216, 0.685);
    border: 2px solid rgba(250, 235, 215, 0.484);
    border-radius: 10px;
}
input[type=submit]{
    margin: 2% 0%;
    color: #9b9898;
    background-color: rgba(227, 222, 216, 0.685);
    border: 2px solid rgba(9, 9, 9, 0.44);
    border-radius: 10px;
    width: 20%;
    padding: 3% 2%;
    font-size: 23px;
}